<div class="container-fluid loginPage">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <mz-card class="dark-text" [hoverable]="true">
        <mz-card-title>
          Login with
        </mz-card-title>
        <mz-card-content>
          <form class="form" [formGroup]="form" (submit)="login()">
            <div class="col s12">
              <mz-input-container>
                <input mz-input formControlName="email" [label]="'Email'" [validate]="true" [dataError]="'Email is invalid'" [dataSuccess]="'Email is valid'"
                  id="email-input" placeholder="Enter your email" type="email">
              </mz-input-container>
            </div>
            <div class="col s12">
              <mz-input-container>
                <input mz-input formControlName="password" [label]="'Password'" [validate]="true" [dataError]="'Password is invalid'" [dataSuccess]="'Password is valid'"
                  id="password-input" placeholder="Enter your password" type="password">
              </mz-input-container>
            </div>
            <div class="col s12">
              <button mz-button type="submit">
                <i mz-icon-mdi mz-input-prefix [icon]="'owl'"></i>
                Login
              </button>
            </div>
          </form>
          Or With <br>
          <button mz-button type="submit" [float]="true" (click)="socialLogin('facebook')" style="background-color:#3b5998">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </button>
          <button mz-button type="submit" [float]="true" (click)="socialLogin('google')" style="background-color:#ea4335">
            <i class="fa fa-google" aria-hidden="true"></i>
          </button>
          <button mz-button type="submit" [float]="true" (click)="socialLogin('github')" style="background-color:#333">
            <i class="fa fa-github" aria-hidden="true"></i>
          </button>
          <button mz-button type="submit" [float]="true" (click)="socialLogin('twitter')" style="background-color:#1da1f2">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </button>
          <button  mz-button type="submit" [float]="true" (click)="logOut()" >Salir</button>

        </mz-card-content>
      </mz-card>
    </div>
  </div>
</div>

